html {
}

body {
    margin: 0;
    padding: 0;

    height: 580px;
    width: 780px;

    overflow-x: hidden;
    overflow-y: scroll;
}

article {
    padding: 1em;
}

code,pre {
    background-color: #eaeaea;
    padding: .25em;
    font-size: 110%;
}

.warnings {
    background-color: lightyellow;
}